@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src:url(./NanumSquareL.woff) format('woff');
    /*url(./NanumSquareL.ttf) format('truetype');*/
}
@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 400;
    src:url(./NanumSquareR.woff) format('woff'),
    url(./NanumSquareR.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 700;
    src:url(./NanumSquareB.woff) format('woff'),
    url(./NanumSquareB.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 800;
    src:url(./NanumSquareEB.woff) format('woff'),
    url(./NanumSquareEB.ttf) format('truetype');
}


@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 300;
    src:url(./NanumSquareRoundL.woff) format('woff');
    /*url(./NanumSquareL.ttf) format('truetype');*/
}
@font-face {
    font-family: 'NanumSquareRound';
    font-style: normal;
    font-weight: 400;
    src:url(./NanumSquareRoundR.woff) format('woff'),
    url(./NanumSquareRoundR.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquareRound';
    font-style: normal;
    font-weight: 700;
    src:url(./NanumSquareRoundB.woff) format('woff'),
    url(./NanumSquareRoundB.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquareRound';
    font-style: normal;
    font-weight: 800;
    src:url(./NanumSquareRoundEB.woff) format('woff'),
    url(./NanumSquareRoundEB.ttf) format('truetype');
}
